<template>
  <b-row>
    <b-col xl="12">
      <h1 class="display-4 text-center">I'm Josué Cámara</h1>
      <p class="text-center lead">Software developer</p>
    </b-col>
    <b-overlay :show="overlay" fixed no-wrap z-index="999999" :opacity="opacity" />
  </b-row>
</template>

<script>
export default {
  name: 'About',
  mounted () {
    this.overlay = false
  },
  data () {
    return {
      overlay: true
    }
  }

}
</script>
