<template>
  <b-container>
    <Scrolling :grid="grid" />
    <b-overlay :show="overlay" fixed no-wrap z-index="999999" :opacity="opacity" />
  </b-container>
</template>

<script>
import Scrolling from '@/components/Scrolling.vue'

export default {
  name: 'Home',
  components: { Scrolling },
  async mounted () {
    const { query } = this.$route

    window.onscroll = async function () {
      const isBottom = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight

      if (isBottom && !this.done) {
        this.page += 1
        this.overlay = true
        await this.fetch({ page: this.page })
      }
    }.bind(this)

    this.page = query.page ? parseInt(query.page, 10) : this.page
    await this.fetch({ page: this.page })
  },
  data () {
    return {
      overlay: true,
      opacity: 0.50,
      done: false,
      page: 1,
      grid: [],
      images: [],
      perRow: 3
    }
  },
  methods: {
    async fetch (params = { page: 1 }) {
      this.overlay = true
      try {
        if (this.done) return false

        const { data } = await this.$http.get('/images', { params })
        this.images = this.images.concat(data.docs)
        this.grid = this.chunk(this.images, this.perRow)

        if (data.docs.length === 0 || data.page === data.pages) {
          this.done = true
          this.$bvToast.toast('It is the end of pagination', {
            title: 'Pagination done',
            variant: 'success'
          })
        }
      } catch (error) {
        const { data } = error.response
        for (var err of data.errors) {
          this.$bvToast.toast(err.message, {
            title: 'Error loading images',
            variant: 'danger'
          })
        }
      } finally {
        this.overlay = false
      }
    },
    chunk (array, size = 3) {
      return array.reduce((acc, item, index) => {
        const mod = index % size
        if (mod) {
          acc.[acc.length - 1].push(item)
        } else {
          acc.push([item])
        }
        return acc
      }, [])
    }
  }
}
</script>
