<template>
  <div>
    <b-row v-for="(images, index) in grid" v-bind:key="index">
      <b-col v-for="img in images" v-bind:key="img.id" md="4" lg="4" xl="4">
        <b-img class="my-3" thumbnail fluid :src="img.src" :alt="img.title" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'ScrollLoader',
  props: {
    grid: { type: Array, default: () => []}
  },
  data () {
    return {}
  }
}
</script>
